﻿@model SunbiHR.ViewModel.ProjectViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="StartedDate" class="control-label"></label>
            <input asp-for="StartedDate" class="form-control  datepicker" />
            <span asp-validation-for="StartedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstimatedEndDate" class="control-label"></label>
            <input asp-for="EstimatedEndDate" class="form-control  datepicker" />
            <span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Employees</label>
            <select asp-for="Employees" asp-items="ViewBag.Employees" class="form-control search-select" multiple></select>
            @*<span asp-validation-for="Description" class="text-danger"></span>*@
        </div>
    </div>
     <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" asp-items="ViewBag.Status" class="form-control search-select" >
            <option value="">Select Status</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary float-right" />
</div>


<script>
    ReApply();
</script>