﻿@model SunbiHR.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="sign-in-page">
        <div class="container">

            <div class="row justify-content-center align-items-center height-self-center">
                <div class="col-lg-5 col-md-12 align-self-center">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div class="sign-in-from w-100 m-auto">
                                <h3 class="mb-3 text-center">Set a new password</h3>
                                <form class="mt-4" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input type="password" class="form-control mb-0" id="exampleInputPassword2" asp-for="OldPassword" placeholder="Current Password" required>
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control mb-0" id="exampleInputPassword2" asp-for="NewPassword" placeholder="New Password" required>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control mb-0" id="exampleInputPassword2" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="sign-info">
                                        <button type="submit" class="btn btn-primary">Change Password</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign in END -->
            <!-- color-customizer -->
        </div>
    </section>