﻿@model SunbiHR.ViewModel.RegistrationViewModel

@{
    ViewBag.Title = "User Registration";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">


                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-6 form-group">
                            <label asp-for="Fullname"></label>
                            <input disabled="disabled" asp-for="Fullname" class="form-control" required />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">

                        <div class="col-sm-4 form-group">
                            <label asp-for="Contact"></label>
                            <input disabled="disabled" asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-sm-4 form-group">
                                <label asp-for="Country"></label>
                                <input disabled="disabled" asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="Organization"></label>
                                <input disabled="disabled" asp-for="Organization" class="form-control" />
                                <span asp-validation-for="Organization" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4 form-group">
                                <label asp-for="Organization">Company Name</label>
                                <input disabled="disabled" asp-for="Organization" class="form-control" />
                                <span asp-validation-for="Organization" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="WorkTitle">Work Title</label>
                                <input disabled="disabled" asp-for="WorkTitle" class="form-control" />
                                <span asp-validation-for="WorkTitle" class="text-danger"></span>
                            </div>
                        }

                    </div>

                    <hr />
                    

                </form>


            </div>
        </div>
    </div>
</div>