﻿@model SunbiHR.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sign-in-page">
    <div class="container">

        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <h3 class="mb-3 text-center">Enter your email</h3>
                            <form class="mt-4" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="email" class="form-control mb-0" id="exampleInputEmail2" asp-for="Email" placeholder="Enter email" autocomplete="off" required>
                                </div>
                                <div class="sign-info">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign in END -->
        <!-- color-customizer -->
    </div>
</section>