﻿@model IEnumerable<SunbiHR.Models.Entity.UserDetails.ApplicationUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="flex-lg-row-reverse row">
        <div class="float-right">

            <a class="p-4" asp-action="Register">+ Add User</a>

        </div>
    </div>
</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Users</h5>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped dataTable w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(x => x.UserName)</th>
                            <th>@Html.DisplayNameFor(x => x.Email)</th>
                            <th>@Html.DisplayNameFor(x => x.Fullname)</th>
                            <th>@Html.DisplayNameFor(x => x.PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(x => x.WorkTitle)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@(i)</td>
                            <td>@Html.DisplayFor(x => item.UserName)</td>
                            <td>@Html.DisplayFor(x => item.Email)</td>
                            <td>@Html.DisplayFor(x => item.Fullname)</td>
                            <td>@Html.DisplayFor(x => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(x => item.WorkTitle)</td>
                            <td>
                                <a asp-action="Details" asp-controller="Account" asp-route-id="@item.Id" title="Detailsd">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{

}