﻿@model SunbiHR.ViewModel.LoginViewModel

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sign-in-page">
    <div class="container">

        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <h3 class="mb-3 text-center">Sign in</h3>
                            <div>
                                <img src="https://www.thesunbi.com/img/site_img/white_sunbi.svg" />
                            </div>
                            <form class="mt-4" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="email" class="form-control mb-0" id="exampleInputEmail2" name="Email" placeholder="Enter email" autocomplete="off" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control mb-0" id="exampleInputPassword2" name="Password" placeholder="Password" required>
                                </div>
                                <div class="sign-info">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                    <div class="custom-control custom-checkbox d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-3">
                        @*<div class="d-flex justify-content-center links">
                            Don't have an account? <a href="/Account/Register" class="text-primary ml-2">Sign Up</a>
                        </div>*@
                        <div class="d-flex justify-content-center links">
                            <a asp-action="ForgotPassword" class="f-link">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign in END -->
        <!-- color-customizer -->
    </div>
</section>