﻿@model SunbiHR.ViewModel.RegistrationViewModel

@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    #ProPic {
        border-radius: 50px;
        width: 7%;
    }
</style>

<h4>User Registration</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">


                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-6 form-group">
                            <label asp-for="Fullname"></label>
                            <input asp-for="Fullname" class="form-control" required />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">

                        <div class="col-sm-4 form-group">
                            <label asp-for="Contact"></label>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        @*@if (!User.Identity.IsAuthenticated)
        {*@
                        <div class="col-sm-4 form-group">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="Organization"></label>
                            <input asp-for="Organization" class="form-control" />
                            <span asp-validation-for="Organization" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label">Employee</label>
                            <select name="EmployeeId" asp-items="ViewBag.EmployeeId" class="form-control search-select"></select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label">Roles</label>
                            <select name="Roles" asp-items="ViewBag.Roles" class="form-control required search-select" multiple></select>
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <div class="form-check">
                                <input asp-for="IsActive" class="form-check-input"
                                       type="checkbox"                             
                                       checked />
                                <label class="form-check-label" asp-for="IsActive">
                                </label>
                            </div>
                        </div>
                        @*}
        else
        {
            <div class="col-sm-4 form-group">
                <label asp-for="Organization">Company Name</label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="col-sm-4 form-group">
                <label asp-for="WorkTitle">Work Title</label>
                <input asp-for="WorkTitle" class="form-control" />
                <span asp-validation-for="WorkTitle" class="text-danger"></span>
            </div>
        }*@

                    </div>

                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        @*<div class="col-sm-4 form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>*@
                    </div>
                    <hr />
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

@section Scripts {



    <script type="text/javascript">
        $(function () {
            // $("#VideoTags").chosen();
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#ProPic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }

            $("#Picture").change(function () {
                readURL(this);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
