﻿@model SunbiHR.ViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<head>-->
    <!-- Required meta tags -->
    <!--<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> @ViewData["Title"]-SunBi HR </title>-->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="~/js/dashboard/assets/css/bootstrap.min.css">-->
    <!-- Typography CSS -->
    <!--<link rel="stylesheet" href="~/js/dashboard/assets/css/typography.css">-->
    <!-- Style CSS -->
    <!--<link rel="stylesheet" href="~/js/dashboard/assets/css/style.css">-->
    <!-- Responsive CSS -->
    <!--<link rel="stylesheet" href="~/js/dashboard/assets/css/responsive.css">
</head>
<body>-->
    <!-- loader Start -->
    <!--<div id="loading">
        <div id="loading-center">
        </div>
    </div>-->
    <!-- loader END -->
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container">

            <div class="row justify-content-center align-items-center height-self-center">
                <div class="col-lg-5 col-md-12 align-self-center">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div class="sign-in-from w-100 m-auto">
                                <h3 class="mb-3 text-center">Set a new password</h3>
                                <form class="mt-4" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input asp-for="Token" type="hidden" />
                                    <input asp-for="Email" type="hidden" />
                                    <div class="form-group">
                                        <input type="password" class="form-control mb-0" id="exampleInputPassword2" asp-for="Password" placeholder="New Password" required>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control mb-0" id="exampleInputPassword2" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="sign-info">
                                        <button type="submit" class="btn btn-primary">Change Password</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign in END -->
            <!-- color-customizer -->
        </div>
    </section>
    <!-- Sign in END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="~/js/dashboard/assets/js/jquery.min.js"></script>
    <script src="~/js/dashboard/assets/js/popper.min.js"></script>
    <script src="~/js/dashboard/assets/js/bootstrap.min.js"></script>-->
    <!-- Appear JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/jquery.appear.js"></script>-->
    <!-- Countdown JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/countdown.min.js"></script>-->
    <!-- Counterup JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/waypoints.min.js"></script>
    <script src="~/js/dashboard/assets/js/jquery.counterup.min.js"></script>-->
    <!-- Wow JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/wow.min.js"></script>-->
    <!-- Slick JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/slick.min.js"></script>-->
    <!-- Owl Carousel JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/owl.carousel.min.js"></script>-->
    <!-- Magnific Popup JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/jquery.magnific-popup.min.js"></script>-->
    <!-- Smooth Scrollbar JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/smooth-scrollbar.js"></script>-->
    <!-- Chart Custom JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/chart-custom.js"></script>-->
    <!-- Custom JavaScript -->
    <!--<script src="~/js/dashboard/assets/js/custom.js"></script>
</body>-->