﻿@model SunbiHR.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="sign-in-page">
    <div class="container">

        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">

                            <h4 class="mb-3 text-center">
                                Your Password has been reset. Please click <a asp-action="Login">here to login</a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign in END -->
        <!-- color-customizer -->
    </div>
</section> 