﻿@model SunbiHR.Models.Entity.ProjectInfo.Milestone

<div class="form-row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Project</label>
            <input asp-for="ProjectInformation.Title" class="form-control" />
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstimatedStartDate" class="control-label"></label>
            <input asp-for="EstimatedStartDate" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstimatedEndDate" class="control-label"></label>
            <input asp-for="EstimatedEndDate" class="form-control" />
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DueDate" class="control-label"></label>
            <input asp-for="DueDate" class="form-control" />
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Deliverables" class="control-label"></label>
            <textarea asp-for="Deliverables" class="form-control"></textarea>
        </div>
    </div>
</div>



