﻿@model SunbiHR.Models.Entity.EmployeeInformation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>EmployeeInformation</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <form asp-action="Create">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.CreatedById)
                    @Html.HiddenFor(x => x.CreatedOn)
                    @Html.HiddenFor(x => x.LastModifiedDate)
                    @Html.HiddenFor(x => x.ModifiedTimes)
                    @Html.HiddenFor(x => x.Record_Status)
                    @Html.HiddenFor(x => x.Deleted_Status)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h5>Personal Info</h5>
                    <hr />
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Fullname"></label>
                            <input asp-for="Fullname" class="form-control" required />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
                            <input asp-for="DateOfBirth" class="form-control datepicker" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" asp-items="@ViewBag.Gender" class="form-control"></select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label asp-for="Contact" class="control-label"></label>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4 form-group">
                            <label asp-for="TemporaryContact" class="control-label">Emergency Contact</label>
                            <input asp-for="TemporaryContact" class="form-control" />
                            <span asp-validation-for="TemporaryContact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">

                        <div class="col-sm-4 form-group">
                            <label asp-for="PermanentFullAddress" class="control-label">Permanent Address (full)</label>
                            <input asp-for="PermanentFullAddress" class="form-control" />
                            <span asp-validation-for="PermanentFullAddress" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4 form-group">
                            <label asp-for="TemporaryFullAddress" class="control-label">Temporary Address (full)</label>
                            <input asp-for="TemporaryFullAddress" class="form-control" />
                            <span asp-validation-for="TemporaryFullAddress" class="text-danger"></span>
                        </div>
                         <div class="col-sm-4 form-group">
                            <label asp-for="PanNo" class="control-label">PAN no</label>
                            <input asp-for="PanNo" class="form-control" />
                            <span asp-validation-for="PanNo" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <h5>Identification</h5>
                    <hr />
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="CitizenshipNo" class="control-label">Citizenship No.</label>
                            <input asp-for="CitizenshipNo" class="form-control" />
                            <span asp-validation-for="CitizenshipNo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="CitizenshipIssuedDate" class="control-label">Issued On</label>
                            <input asp-for="CitizenshipIssuedDate" class="form-control datepicker" />
                            <span asp-validation-for="CitizenshipIssuedDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="CitizenshipIssuedPlace" class="control-label">Issued Place</label>
                            <input asp-for="CitizenshipIssuedPlace" class="form-control" />
                            <span asp-validation-for="CitizenshipIssuedPlace" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="BloodGroup" class="control-label">Blood Group</label>
                            <select asp-for="BloodGroup">
                                <option value="" selected>- - - Select - - -</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                            <span asp-validation-for="BloodGroup" class="text-danger"></span>
                        </div>
                        @*<div class="col-sm-4 form-group">
                                <label asp-for="DocumentLocation" class="control-label">Upload Documents</label>
                                <input type="file" />
                                <span asp-validation-for="CitizenshipIssuedDate" class="text-danger"></span>
                            </div>*@

                    </div>
                    <h5>Projects</h5>
                    <hr />
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Projects" class="control-label"></label>
                            <select asp-for="Projects" asp-items="ViewBag.Projects" class="search-select"></select>
                            <span asp-validation-for="Projects" class="text-danger"></span>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5>Official Info</h5>
                        <hr />
                        <div class="col-lg-12 row">
                            <div class="col-sm-4 form-group">
                                <label asp-for="JoiningDate" class="control-label">Joining Date</label>
                                <input asp-for="JoiningDate" class="form-control  datepicker" />
                                <span asp-validation-for="JoiningDate" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="EmpType" class="control-label">Type</label>
                                <select asp-for="EmpType" asp-items="@ViewBag.EmployeeType" class="form-control"></select>
                                <span asp-validation-for="EmpType" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="Position" class="control-label">Position</label>
                                <input asp-for="Position" class="form-control" />
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-8 row">
                            <div class="col-sm-4 form-group">
                                <label asp-for="RegionId" class="control-label">Region</label>
                                <select asp-for="RegionId" asp-items="@ViewBag.RegionId" class="form-control"></select>
                                <span asp-validation-for="RegionId" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="Salary" class="control-label"></label>
                                <input asp-for="Salary" min="1" class="form-control" />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label asp-for="SalaryType" class="control-label">Payment Period</label>
                                <select asp-for="SalaryType" asp-items="@ViewBag.SalaryType" class="form-control"></select>
                                <span asp-validation-for="SalaryType" class="text-danger"></span>
                            </div>
                        </div>
                    }

                    <div class="col-lg-8 row">
                        <div class="col-sm-4 form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
