﻿@model SunbiHR.Models.Entity.EmployeeInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FirstName = (Model.Fullname.Split(' '))[0];
}

<h4>EmployeeInformation</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <form asp-action="Create">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.CreatedById)
                    @Html.HiddenFor(x => x.CreatedOn)
                    @Html.HiddenFor(x => x.LastModifiedDate)
                    @Html.HiddenFor(x => x.ModifiedTimes)
                    @Html.HiddenFor(x => x.Record_Status)
                    @Html.HiddenFor(x => x.Deleted_Status)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Fullname"></label>
                            <input asp-for="Fullname" class="form-control" required />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" asp-items="@ViewBag.Gender" class="form-control"></select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label asp-for="Contact" class="control-label"></label>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4 form-group">
                            <label asp-for="TemporaryContact" class="control-label">Emergency Contact</label>
                            <input asp-for="TemporaryContact" class="form-control" />
                            <span asp-validation-for="TemporaryContact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="PermanentFullAddress" class="control-label">Permanent Address (full)</label>
                            <input asp-for="PermanentFullAddress" class="form-control" />
                            <span asp-validation-for="PermanentFullAddress" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-4 form-group">
                            <label asp-for="TemporaryFullAddress" class="control-label">Temporary Address (full)</label>
                            <input asp-for="TemporaryFullAddress" class="form-control" />
                            <span asp-validation-for="TemporaryFullAddress" class="text-danger"></span>
                        </div>
                         <div class=" col-sm-4 form-group">
                            <label asp-for="PanNo" class="control-label">PAN no</label>
                            <input asp-for="PanNo" class="form-control" />
                            <span asp-validation-for="PanNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="JoiningDate" class="control-label">Joining Date</label>
                            <input asp-for="JoiningDate" class="form-control" />
                            <span asp-validation-for="JoiningDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="EmpType" class="control-label">Type</label>
                            <select asp-for="EmpType" asp-items="@ViewBag.EmployeeType" class="form-control"></select>
                            <span asp-validation-for="EmpType" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="Position" class="control-label">Position</label>
                            <input asp-for="Position" class="form-control" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-8 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Salary" class="control-label"></label>
                            <input asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="SalaryType" class="control-label">Payment Period</label>
                            <select asp-for="SalaryType" asp-items="@ViewBag.SalaryType" class="form-control"></select>
                            <span asp-validation-for="SalaryType" class="text-danger"></span>
                        </div>
                    </div>

                </form>
                <hr />
                <div>
                    <a href="/Payment/Create?EmpId=@Model.Id">Pay @FirstName</a> | <a href="/Employee/Review?EmpId=@Model.Id">Review</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

