﻿@model SunbiHR.Models.Entity.EmployeeInformation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EmployeeInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporaryContact" class="control-label"></label>
                <input asp-for="TemporaryContact" class="form-control" />
                <span asp-validation-for="TemporaryContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentFullAddress" class="control-label"></label>
                <input asp-for="PermanentFullAddress" class="form-control" />
                <span asp-validation-for="PermanentFullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporaryFullAddress" class="control-label"></label>
                <input asp-for="TemporaryFullAddress" class="form-control" />
                <span asp-validation-for="TemporaryFullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label"></label>
                <select asp-for="EmpType" class="form-control"></select>
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryType" class="control-label"></label>
                <select asp-for="SalaryType" class="form-control"></select>
                <span asp-validation-for="SalaryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartedDate" class="control-label"></label>
                <input asp-for="PartedDate" class="form-control" />
                <span asp-validation-for="PartedDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById"></select>
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTimes" class="control-label"></label>
                <input asp-for="ModifiedTimes" class="form-control" />
                <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record_Status" class="control-label"></label>
                <select asp-for="Record_Status" class="form-control"></select>
                <span asp-validation-for="Record_Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted_Status" /> @Html.DisplayNameFor(model => model.Deleted_Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
