﻿@model IEnumerable<SunbiHR.Models.Entity.EmployeeInformation>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #team {
        background: #eee !important;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #team .card {
        border: none;
        background: #ffffff;
    }



    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }



        .frontside .card,
        .backside .card {
            min-height: 312px;
        }

            .backside .card a {
                font-size: 18px;
                color: #007b5e !important;
            }

            .frontside .card .card-title,
            .backside .card .card-title {
                color: #007b5e !important;
            }

            .frontside .card .card-body img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
</style>
<section>
    <p class="float-right">
        <a asp-action="Create">+ Add an employee</a>
    </p>

</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Employees</h5>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/Images/usr.png" alt="card image"></p>
                                        <h4 class="card-title">@item.Fullname</h4>
                                        <p class="card-text">@item.Position</p>
                                        @if (item.EmployeeProjects != null && item.EmployeeProjects.Any())
                                        {

                                            <div>
                                                <div class="text-center">
                                                    <label class="font-weight-bold"> Projects</label>
                                                </div>
                                                <div class="d-flex">
                                                    <ul class="mx-auto justify-content-center">
                                                        @foreach (var EmployeeProjects in item.EmployeeProjects)
                                                        {
                                                            <li>

                                                                <a asp-action="Details" asp-controller="Project" asp-route-id="@EmployeeProjects.ProjectId">@EmployeeProjects.ProjectInformation.Title</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <!-- ./Team member -->






        </div>
    </div>
</section>
