﻿@model SunbiHR.Models.Entity.EmployeeInfo.EmployeeTimline

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Employee Review -<small> @ViewBag.EmployeeName </small></h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <form asp-action="Review">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.EmployeeId)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="NewPosition">New Position</label>
                            <input asp-for="NewPosition" class="form-control" required />
                            <span asp-validation-for="NewPosition" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label asp-for="CommencedFrom" class="control-label">Commenced From</label>
                            <input asp-for="CommencedFrom" class="form-control" />
                            <span asp-validation-for="CommencedFrom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-12 form-group">
                            <label asp-for="Remarks" class="control-label">Payment Remarks</label>
                            <textarea asp-for="Remarks" class="form-control"></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-8 row">
                        <div class="col-sm-4 form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
