﻿@model SunbiHR.ViewModel.MilestoneViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MilestoneInformation</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $('#ProjectId').on("change", function (event) {
            var val = $("#ProjectId option:selected").val();
            if (val=="") {
                return;
            }
        $.ajax({
            url: "@Url.Action("GetProjectDetailsById", "Project")",
            data: {id:val},
            type: 'GET',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (result) {
                if (result.status) {
                    var startedDateTime = result.result.startedDate;
                    var estimatedEndDateTime = result.result.estimatedEndDate;
                    var startedDate = startedDateTime.split('T')[0];
                    var estimatedEndDate = estimatedEndDateTime.split('T')[0];
                    $('#EstimatedStartDate').attr("min", startedDate);
                    $('#EstimatedStartDate').attr("max", estimatedEndDate);
                    $('#EstimatedEndDate').attr("min", startedDate);
                    $('#EstimatedEndDate').attr("max", estimatedEndDate);
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}