﻿@model SunbiHR.Models.Entity.ProjectInfo.Milestone

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MilestoneInformation</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
