﻿@model SunbiHR.Models.Entity.ProjectInfo.Milestone
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MilestoneInformation</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title"> Tasks</h5>
                        @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                        @{await Html.RenderPartialAsync("Partial/_TaskList", Model.TaskInformation);}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
