﻿@model IEnumerable<SunbiHR.Models.Entity.ProjectInfo.Milestone>

@{
    ViewData["Title"] = "Milestones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <p class="float-right">
        <a asp-action="Create">+ Add Milestone</a>
    </p>

</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Milestones</h5>>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.Title</h5>
                            <p class="card-text text-center">@item.Deliverables</p>
                            <br />
                            <div class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
