﻿@model CommentViewModel
@{
}
<div class="card mb-3">
    <div class="card-header text-white  bg-primary">Approve Pannel</div>
    <div class="card-body">
        <form asp-action="SaveComment" method="post" class="">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-row">

                <label for="EnumRequestType" class="control-label col-md-2">Status</label>
                <div class="col-md-10">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="EnumRequestType" value="1" checked>Approved
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                            <input type="radio" class="form-check-input" id="radio2" name="EnumRequestType" value="2">Rejected
                        </label>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <label for="ApprovedRemarks" class="control-label col-md-2">Remarks</label>
                <div class="col-md-10">
                    <textarea name="ApprovedRemarks" id="ApprovedRemarks" cols="120" rows="3"></textarea>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </form>
    </div>

</div>