﻿@model IEnumerable<SunbiHR.Models.Entity.EmployeeInfo.EmployeeLeaveRequest>
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>#</th>
                    @*<th>@Html.DisplayNameFor(x => x.CreatedOn)</th>*@
                    <th>Submitted Date</th>
                    @if (User.IsAdmin())
                    {
                        <th>@*@Html.DisplayNameFor(x => x.EmployeeId)*@ Employee Name</th>
                    }
                    <th>@Html.DisplayNameFor(x => x.LeavePeriod)</th>
                    <th>@Html.DisplayNameFor(x => x.LeaveType)</th>
                    <th>@Html.DisplayNameFor(x => x.LeaveFrom)</th>
                    <th>@Html.DisplayNameFor(x => x.LeaveTo)</th>
                    <th>@Html.DisplayNameFor(x => x.Description)</th>
                    <th>Status</th>
                    @if (User.IsAdmin())
                    {
                        <th>@Html.DisplayNameFor(x => x.ApprovedDate)</th>
                        <th>@Html.DisplayNameFor(x => x.EmployeeId_Approvedby)</th>
                        <th></th>
                    }

                </tr>
            </thead>
            <tbody>
                @{ var i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@(item.CreatedOn.ToString("yyyy-MM-dd"))</td>
                        @if (User.IsAdmin())
                        {
                            <td>@Html.DisplayFor(x => item.EmployeeInformation.Fullname)</td>

                        }
                        <td>@Html.DisplayFor(model => item.LeavePeriod)</td>
                        <td>@Html.DisplayFor(x => item.LeaveType)</td>
                        <td>@(item.LeaveFrom.ToString("yyyy-MM-dd"))</td>
                        <td>@(item.LeaveTo.ToString("yyyy-MM-dd"))</td>
                        <td>@(item.Description)</td>
                        <td>
                            @if (item.IsApproved)
                            {
                                <span class="badge badge-success">Approved</span>
                            }
                            else if (item.IsRejected)
                            {
                                <span class="badge badge-danger">Rejected</span>

                            }
                            else
                            {
                                <span class="badge badge-info">Pending</span>

                            }

                        </td>
                        @if (User.IsAdmin())
                        {
                            <td>@(item.ApprovedDate.HasValue ? item.ApprovedDate.Value.ToString("yyyy-MM-dd") : "")</td>
                            <td>@(item.EmployeeId_Approvedby != null ? item.EmployeeInformation1.Fullname : "")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Details">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        }
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
