﻿@model SunbiHR.ViewModel.ReportViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" readonly />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    @*<div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Employee</label>
                <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" class="form-control search-select"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
        </div>*@

</div>
<div class="form-row">

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Projects Worked</label>
            <select asp-for="Projects" asp-items="ViewBag.Projects" multiple class="form-control search-select">
                <option value="">Select Projects</option>
            </select>
            <span asp-validation-for="Projects" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary float-right" />
</div>


