﻿@model SunbiHR.ViewModel.MilestoneViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6 d-none">
        <div class="form-group">
            <label class="control-label">Project</label>
            <input  asp-for="ProjectId" class="form-control" />
            @*<select asp-for="ProjectId" asp-items="ViewBag.ProjectId" class="form-control search-select">
                <option>Please select</option>
            </select>*@
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstimatedStartDate" class="control-label"></label>
            <input asp-for="EstimatedStartDate" class="form-control  datepicker" />
            <span asp-validation-for="EstimatedStartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstimatedEndDate" class="control-label"></label>
            <input asp-for="EstimatedEndDate" class="form-control datepicker" />
            <span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
   
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DueDate" class="control-label"></label>
            <input asp-for="DueDate" class="form-control datepicker " />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
    </div>
     <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" asp-items="ViewBag.Status" class="form-control search-select">
            <option value="">Select Status</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Deliverables" class="control-label"></label>
            <textarea asp-for="Deliverables" class="form-control"></textarea>
            <span asp-validation-for="Deliverables" class="text-danger"></span>
        </div>
    </div>
</div>



<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>


@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}