﻿@model SunbiHR.Models.Entity.EmployeeInfo.EmployeeDailyReport

<div class="form-row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>


</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label">Employee</label>
            <input asp-for="EmployeeInformation.Fullname" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Worked Projects</label>
            <br />
            @foreach (var item in Model.DailyReportProject.Where(x=>!x.Deleted_Status))
            {
                <span class="badge badge-primary">@item.ProjectInformation.Title</span>
            }
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>



