﻿@model SunbiHR.Models.Entity.Region
@{ 
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4> Region</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
