﻿@model IEnumerable<SunbiHR.Models.Entity.Region>

@{
    ViewData["Title"] = "Regions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="flex-lg-row-reverse row">
        <div class="float-right">
            <a class="p-4" asp-action="Create">+ Add Region</a>
        </div>
    </div>
</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Regions</h5>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped dataTable w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(x => x.Title)</th>
                            <th>@Html.DisplayNameFor(x => x.Remarks)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td>@Html.DisplayFor(model => item.Remarks)</td>
                            <td>
                                <a asp-action="Details" asp-controller="Region" asp-route-id="@item.Id" title="Details">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{

}