﻿@model SunbiHR.Models.Entity.TaskInfo.TaskInformation

<div class="form-row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Project</label>
            <input asp-for="ProjectInformation.Title" class="form-control" />
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label  class="control-label">Assigned Employees</label>
            <br />
            @foreach (var item in Model.TaskEmployee)
            {
                <span class="badge badge-primary">@item.EmployeeInformation.Fullname</span>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">MilestoneId</label>
            <input asp-for="Milestone.Title" class="form-control" />
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>



