﻿@model SunbiHR.ViewModel.PaymentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Employee Payment</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <h5>Due Since: @Model.DueSince</h5> &nbsp;|&nbsp;
        <h5>Joining Date: @Model.JoiningDate.ToShortDateString()</h5>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <form asp-action="Create">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.RefNo)
                    @Html.HiddenFor(x => x.EmployeeId)
                    @Html.HiddenFor(x => x.PaidBy)
                    @Html.HiddenFor(x => x.TransactionOn)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-4 form-group">
                            <label asp-for="PaymentMonth" class="control-label"></label>
                            <select asp-for="PaymentMonth" asp-items="ViewBag.PaymentMonth" class="form-control search-select">
                                <option value="">Select Month</option>
                            </select>
                            <span asp-validation-for="PaymentMonth" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="PaymentYear" class="control-label">Year</label>
                            <input type="number" asp-for="PaymentYear" class="form-control" />
                            <span asp-validation-for="PaymentYear" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input type="number" asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-12 form-group">
                            <label asp-for="PaymentRemarks" class="control-label">Payment Remarks</label>
                            <textarea asp-for="PaymentRemarks" class="form-control"></textarea>
                            <span asp-validation-for="PaymentRemarks" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-sm-12 form-group">
                            <h6>Total Due Amount: Rs.<span id="Due">@Model.TotalDue</span></h6>
                            <h6>Remaining: Rs.<span id="remain"></span></h6>
                        </div>

                    </div>
                    <div class="col-lg-12 row">

                        <div class="col-sm-4 form-group">
                            <input type="submit" value="Paid" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
                <hr />
                <h5>Recent Payments</h5>
                <div class="col-lg-12 row">
                    <table class="table table-bordered">
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Amount</th>
                            <th>Paid On</th>
                        </tr>
                        <tbody>
                            @foreach (var item in Model.PaymentHistory.OrderByDescending(x=>x.TransactionOn))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => item.PaymentYear)</td>
                                    <td>@Html.DisplayFor(x => item.PaymentMonth)</td>
                                    <td>@item.Amount</td>
                                    <td>@item.TransactionOn</td>
                                </tr>


                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $("#Amount").keyup(function () {
                var Total = $('#Due').text();
                var Remain = $(this).val()
                $('#remain').text(Total - Remain);

            });
        });
    </script>
}
