﻿@model SunbiHR.Models.Entity.EmployeeInfo.EmployeePayment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EmployeePayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RefNo" class="control-label"></label>
                <input asp-for="RefNo" class="form-control" />
                <span asp-validation-for="RefNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMonth" class="control-label"></label>
                <input asp-for="PaymentMonth" class="form-control" />
                <span asp-validation-for="PaymentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentRemarks" class="control-label"></label>
                <input asp-for="PaymentRemarks" class="form-control" />
                <span asp-validation-for="PaymentRemarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionOn" class="control-label"></label>
                <input asp-for="TransactionOn" class="form-control" />
                <span asp-validation-for="TransactionOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidBy" class="control-label"></label>
                <select asp-for="PaidBy" class="form-control" asp-items="ViewBag.PaidBy"></select>
                <span asp-validation-for="PaidBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
