﻿@model IEnumerable<SunbiHR.Models.Entity.EmployeeInfo.EmployeePayment>

@{
    ViewData["Title"] = "Payment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment List</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="table-responsive">
    <table class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentRemarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionOn)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.EmployeeInformation)*@
                    Employee Name
                </th>
                <th>
                    Paid By
                    @*@Html.DisplayNameFor(model => model.ApplicationUser)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentRemarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeInformation.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @*|<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>