﻿@model SunbiHR.ViewModel.RegionViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>


