﻿@model IEnumerable<SunbiHR.Models.Entity.EmployeeInfo.EmployeeDailyReport>

@{
    ViewData["Title"] = "Daily Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ReportViewModel = new SunbiHR.ViewModel.ReportViewModel()
    {
        Title = "Daily Report",
        CreatedOn = DateTime.Now
    };
}
<section>
    <div class="flex-lg-row-reverse row">
        <div class="float-right">
            <a class="p-4" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
                Search
            </a>
            <a class="p-4" data-toggle="modal" data-target="#report" asp-action="Create">+ Add Daily Report</a>
            <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="report-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportTitle"> Daily Report</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="Create">
                                @Html.EditorFor(x => ReportViewModel)
                            </form>
                        </div>
                        @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse row" id="search">
        <div class="card card-body">
            <form asp-action="Index">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>From Date</label>
                        <input type="text" name="fromDate" class="form-control datepicker" value='@ViewData["fromDate"]' />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>To Date</label>
                        <input type="text" name="toDate" class="form-control datepicker" value='@ViewData["toDate"]' />
                    </div>
                </div>
                <div class="row">
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="col-md-6 form-group">
                            <label>Employee</label>
                            <div>
                                <select name="EmployeeId" asp-items="ViewBag.EmployeeId" class="form-control search-select">
                                    <option value="">Select All</option>
                                </select>
                            </div>
                        </div>

                    }
                    <div class="col-md-6 form-group p-4">
                        <button class="btn btn-success"
                                type="submit">
                            Reports
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Daily Reports</h5>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped dataTable w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            @*<th>@Html.DisplayNameFor(x => x.CreatedOn)</th>*@
                            <th>Submitted Date</th>
                            @if (User.IsAdmin())
                            {
                                <th>@*@Html.DisplayNameFor(x => x.EmployeeId)*@ Employee Name</th>

                            }
                            <th>@Html.DisplayNameFor(x => x.Title)</th>

                            <th>@Html.DisplayNameFor(x => x.Description)</th>
                            @if (User.IsAdmin())
                            {
                                <th></th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@(item.CreatedOn.ToString("yyyy-MM-dd"))</td>
                                @if (User.IsAdmin())
                                {
                                    <td>@Html.DisplayFor(x => item.EmployeeInformation.Fullname)</td>
                                }
                                <td>@Html.DisplayFor(model => item.Title)</td>
                                <td>@Html.DisplayFor(model => item.Description)</td>
                                @if (User.IsAdmin())
                                {
                                    <td>
                                        <a asp-action="Details" asp-controller="Report" asp-route-id="@item.Id" title="Detailsd">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}