﻿@model SunbiHR.ViewModel.TaskViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Project</label>
            <select asp-for="ProjectId" asp-items="ViewBag.ProjectId" class="form-control search-select"></select>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DueDate" class="control-label"></label>
            <input asp-for="DueDate" class="form-control  datepicker" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="TaskStatus" class="control-label"></label>
            <select asp-for="TaskStatus" asp-items="ViewBag.TaskStatus" class="form-control">
                <option value="">Select Status</option>
            </select>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control  datepicker" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control  datepicker" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Assigned Employee</label>
            <select asp-for="EmployeeIds" asp-items="ViewBag.EmployeeIds" multiple class="form-control search-select">
                <option value="">Select Employees</option>
            </select>
            <span asp-validation-for="EmployeeIds" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="MilestoneId" class="control-label"></label>
            <select asp-for="MilestoneId" asp-items="ViewBag.MilestoneId" class="form-control search-select"></select>
            <span asp-validation-for="MilestoneId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary float-right" />
</div>


