﻿@model SunbiHR.Models.Entity.TaskInfo.TaskInformation
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Task Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()
        </div>
    </div>
</div>
<div>

    @if (User.IsAdmin())
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index">Back to List</a>

    }
    else
    {
            <a asp-controller="Home" asp-action="Index">Back</a>
    }
</div>
