﻿@model IEnumerable<SunbiHR.Models.Entity.TaskInfo.TaskInformation>

@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <p class="float-right">
        <a asp-action="Create">+ Add Task</a>
    </p>

</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Tasks</h5>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            @*<th>@Html.DisplayNameFor(x=>x.Title)</th>*@
                            <th>Task</th>
                            <th>@Html.DisplayNameFor(x => x.CreatedOn)</th>
                            <th>@Html.DisplayNameFor(x => x.CreatedById)</th>
                            <th>@Html.DisplayNameFor(x => x.StartDate)</th>
                            <th>@Html.DisplayNameFor(x => x.EndDate)</th>
                            <th>@Html.DisplayNameFor(x => x.DueDate)</th>
                            <th>@Html.DisplayNameFor(x => x.ProjectId)</th>
                            <th>@Html.DisplayNameFor(x => x.Milestone)</th>
                            <th>@Html.DisplayNameFor(x => x.TaskStatus)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td>@(item.CreatedOn.ToString("yyyy-MM-dd"))</td>
                            <td>@Html.DisplayFor(x => item.ApplicationUser.Fullname)</td>

                            <td>@(item.StartDate.ToString("yyyy-MM-dd"))</td>
                            <td>@(item.EndDate.ToString("yyyy-MM-dd"))</td>
                            <td>@(item.DueDate.HasValue? item.DueDate.Value.ToString("yyyy-MM-dd"):"")</td>

                            <td>@Html.DisplayFor(model => item.ProjectInformation.Title)</td>
                            <td>@Html.DisplayFor(model => item.Milestone.Title)</td>
                            <td>@Html.DisplayFor(model => item.TaskStatus)</td>
                            <td>
                                <a asp-action="Details" asp-controller="Task" asp-route-id="@item.Id" title="Details">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*@foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.Title</h5>
                        <p class="card-text text-center">@item.Description</p>
                        <br />
                        <div class="text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>

        }*@
    </div>
</section>
