﻿@model SunbiHR.Models.Entity.EmployeeInfo.EmployeeLeaveRequest

<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label">Employee</label>
            <input asp-for="EmployeeInformation.Fullname" class="form-control" />
        </div>
    </div>

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveFrom" class="control-label"></label>
            <input asp-for="LeaveFrom" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveTo" class="control-label"></label>
            <input asp-for="LeaveTo" class="form-control" />
        </div>
    </div>
    <input type="hidden" asp-for="NoOfDays" />

</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeavePeriod" class="control-label"></label>
            <input asp-for="LeavePeriod" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveType" class="control-label"></label>
            <input asp-for="LeaveType" class="form-control" />
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>



