﻿@model IEnumerable<SunbiHR.Models.Entity.ProjectInfo.Milestone>
<div class="table-responsive">
    <table class="table table-bordered table-striped w-100 @*dataTable*@">
        <thead>
            <tr>
                <th>#</th>
                @*<th>@Html.DisplayNameFor(x => x.CreatedOn)</th>*@
                <th>@Html.DisplayNameFor(x => x.Title)</th>
                <th>@Html.DisplayNameFor(x => x.DueDate)</th>
                <th>@Html.DisplayNameFor(x => x.Deliverables)</th>
                <th>@Html.DisplayNameFor(x => x.Status)</th>
                <th>@Html.DisplayNameFor(x => x.ProjectId)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}


            @foreach (var item in Model)
            {
                <tr data-toggle="collapse" href="#collapse_@item.Id" aria-expanded="false" class="accordion-toggle collapsed"
                    aria-controls="collapse_@item.Id">
                    <td class="expand-button"></td>
                    @*<td>@Html.DisplayFor(x => item.CreatedOn)</td>*@
                    <td>@Html.DisplayFor(x => item.Title)</td>
                    <td>@Html.DisplayFor(x => item.DueDate)</td>
                    <td>@Html.DisplayFor(x => item.Deliverables)</td>
                    <td>@Html.DisplayFor(x => item.Status)</td>
                    <td>@Html.DisplayFor(x => item.ProjectInformation.Title)</td>
                    <td>
                        <a asp-action="Details" asp-controller="Milestone" target="_blank" asp-route-id="@item.Id" title="Details">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="hide-table-padding">
                    <td colspan="7" class="">
                        <div id="collapse_@item.Id" class="collapse" role="tabpanel" aria-labelledby="heading10">
                            @{await Html.RenderPartialAsync("Partial/_TaskList", item.TaskInformation);}
                        </div>
                    </td>

                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
@section Scripts{
}
