﻿@model IEnumerable<SunbiHR.Models.Entity.TaskInfo.TaskInformation>
<div class="table-responsive">
    <table class="table table-bordered table-striped @*dataTable*@" style="width:100%!important">
        <thead>
            <tr>
                <th>#</th>
                @*<th>@Html.DisplayNameFor(x => x.CreatedOn)</th>*@
                <th>@Html.DisplayNameFor(x => x.Title)</th>
                <th>@Html.DisplayNameFor(x => x.Description)</th>
                <th>@Html.DisplayNameFor(x => x.DueDate)</th>
                <th>@Html.DisplayNameFor(x => x.TaskStatus)</th>
                <th>@Html.DisplayNameFor(x => x.MilestoneId)</th>
                <th>@Html.DisplayNameFor(x => x.ProjectId)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    @*<td>@Html.DisplayFor(x => item.CreatedOn)</td>*@
                    <td>@Html.DisplayFor(x => item.Title)</td>
                    <td>@Html.DisplayFor(x => item.Description)</td>
                    <td>@Html.DisplayFor(x => item.DueDate)</td>
                    <td>@Html.DisplayFor(x => item.TaskStatus)</td>
                    <td>@Html.DisplayFor(x => item.Milestone.Title)</td>
                    <td>@Html.DisplayFor(x => item.ProjectInformation.Title)</td>
                    <td>
                        
                        <a asp-action="Details" class="p-1" asp-controller="Task" asp-route-id="@item.Id" title="Details">
                            <i class="fa fa-eye" aria-hidden="true"></i>View Detail
                        </a>

                        <a asp-action="MarKComplete" class="p-1" asp-controller="Task" asp-route-id="@item.Id" title="Mark Completed">
                            <i class="fa fa-check" aria-hidden="true"></i>Mark Complete
                        </a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
