﻿@model SunbiHR.Models.Entity.ProjectInfo.ProjectInformation


<div class="form-row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="StartedDate" class="control-label"></label>
            <input asp-for="StartedDate" class="form-control" />
            <span asp-validation-for="StartedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @{
                var RemainingDaysTimeSpan = Model.EstimatedEndDate.Date - DateTime.Now.Date;
                var ElapsedDaysTimeSpan = Model.StartedDate.Date - DateTime.Now.Date;
                var TotalDaysSpecifiedTimeSpan = Model.StartedDate.Date - Model.EstimatedEndDate.Date;
                var RemainigDays = RemainingDaysTimeSpan.TotalDays;
                var ElapsedDays = ElapsedDaysTimeSpan.TotalDays;
                var TotalDaysSpecified = TotalDaysSpecifiedTimeSpan.TotalDays;
            }
            @if (RemainigDays > 0)
            {
                @*<label>The project has @RemainigDays Remaining Days.</label>*@

            }
            else
            {
                @*<label>The project has been surpassed @(-RemainigDays) Days.</label>*@

            }
            <label asp-for="EstimatedEndDate" class="control-label"></label>
            <input asp-for="EstimatedEndDate" class="form-control" />
            <span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Employee</label>
            @*<select name="Employees" asp-items="ViewBag.Employees" class="form-control search-select" multiple></select>*@
            @*<span asp-validation-for="Description" class="text-danger"></span>*@
        </div>
    </div>
      <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control"/>
            @*<select name="Employees" asp-items="ViewBag.Employees" class="form-control search-select" multiple></select>*@
            @*<span asp-validation-for="Description" class="text-danger"></span>*@
        </div>
    </div>
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary float-right" />
</div>


