﻿@model SunbiHR.ViewModel.EmployeeLeaveRequestViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Leave Request</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".datepicker").each(function () {
                $(this).datepicker();
            });
        });
        $('#ProjectId').on("change", function (event) {
            var val = $("#ProjectId option:selected").val();
            if (val=="") {
                return;
            }
        $.ajax({
            url: "@Url.Action("GetMilestoneByProjectId", "Milestone")",
            data: {id:val},
            type: 'GET',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (result) {
                if (result.status) {
                    var dbSelect = $('#MilestoneId');
                    dbSelect.empty();
                    dbSelect.append("<option value=''>Select an option</option>");

                    //dbSelect.select2('data', null);

                    //$("#select_with_data").html('').trigger('change');//.select2({
                    //    data: result.DataList
                    //});
                    $.each(result.dataList, function (key, value) {
                        dbSelect.append("<option value='" + value.id + "'>" + value.text + "</option>");

                    });

                    dbSelect.trigger('change');
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
