﻿@model SunbiHR.Models.Entity.EmployeeInfo.EmployeeLeaveRequest
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4> Leave Request</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()

            @{
                if (User.IsAdmin() && Model.IsPending)
                {
                    @await Html.PartialAsync("partial/_CommentViewModel", new CommentViewModel() { Id = Model.Id });

                }
            }
        </div>

    </div>
</div>
<div>
    @if (User.GetEmployeeId() == Model.EmployeeId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:|
    }
    <a asp-action="Index">Back to List</a>
</div>
