﻿@model IEnumerable<SunbiHR.Models.Entity.EmployeeInfo.EmployeeLeaveRequest>

@{
    ViewData["Title"] = "Leave Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var EmployeeLeaveRequestViewModel = new SunbiHR.ViewModel.EmployeeLeaveRequestViewModel()
    {
        CreatedOn = DateTime.Now,
    };
}
<section>
    <div class="flex-lg-row-reverse row">
        <div class="float-right">
            <a class="p-4" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
                Search
            </a>

            <a class="p-4" data-toggle="modal" data-target="#leaveRequest" asp-action="Create">New Leave Request</a>
            <div class="modal fade" id="leaveRequest" tabindex="-1" role="dialog" aria-labelledby="leaveRequest-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="leaveRequestTitle">Leave Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="Create">
                                @Html.EditorFor(x => EmployeeLeaveRequestViewModel)
                            </form>
                        </div>
                        @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse row" id="search">
        <div class="card card-body">
            <form asp-action="Index">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>From Date</label>
                        <input type="text" name="fromDate" class="form-control datepicker" value='@ViewData["fromDate"]' />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>To Date</label>
                        <input type="text" name="toDate" class="form-control datepicker" value='@ViewData["toDate"]' />
                    </div>
                </div>
                <div class="row">
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="col-md-6 form-group">
                            <label>Employee</label>
                            <div>
                                <select name="EmployeeId" asp-items="ViewBag.EmployeeId" class="form-control search-select">
                                    <option value="">Select All</option>
                                </select>
                            </div>
                        </div>

                    }
                    <div class="col-md-6 form-group p-4">
                        <button class="btn btn-success float-right"
                                type="submit">
                            Reports
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Leave Requests</h5>
        @*@{await Html.RenderPartialAsync("Partial/_RecordList", Model);}*@

        <div class="col-xs-12 ">

            @{await Html.RenderPartialAsync("Partial/_RecordList", Model);}

            @*<nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</a>
                    <a class="nav-item nav-link" id="nav-approved-tab" data-toggle="tab" href="#nav-approved" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</a>
                    <a class="nav-item nav-link" id="nav-rejected-tab" data-toggle="tab" href="#nav-rejected" role="tab" aria-controls="nav-rejected" aria-selected="false">Rejected</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    @{await Html.RenderPartialAsync("Partial/_RecordList", Model);}
                </div>
                <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-profile-tab">
                    @{await Html.RenderPartialAsync("Partial/_RecordList", Model.Where(x => !x.IsApproved && !x.IsRejected).AsEnumerable());}
                </div>
                <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-contact-tab">
                    @{await Html.RenderPartialAsync("Partial/_RecordList", Model.Where(x => x.IsRejected).AsEnumerable());}
                </div>
                <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-about-tab">
                    @{await Html.RenderPartialAsync("Partial/_RecordList", Model.Where(x => x.IsApproved).AsEnumerable());}
                </div>
            </div>*@

        </div>
    </div>
</section>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}