﻿@model SunbiHR.Models.Entity.ProjectInfo.ProjectInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectViewModel = new ProjectViewModel()
    {
        Id = Model.Id,
        Description = Model.Description,
        EmployeeProjects = Model.EmployeeProjects,
        Title = Model.Title,
        StartedDate = Model.StartedDate,
        EstimatedEndDate = Model.EstimatedEndDate
    };
}

<h1>Details</h1>

<div>
    <h4>ProjectInformation</h4>
    <hr />
    @*@Html.DisplayForModel()*@
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <div class="modal fade" id="editMilestone" tabindex="-1" role="dialog" aria-labelledby="editMilestone-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMilestoneTitle">Add Milestone</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        var MilestoneViewModel = new MilestoneViewModel()
                        {
                            ProjectId = Model.Id,
                            ProjectInformation = Model
                        };
                    }
                    <form asp-action="Create" asp-controller="Milestone" class="ajaxSubmit" method="post" data-refresh=".milestoneList">
                        @*@Html.HiddenFor(x => x.Id)*@
                        @Html.EditorFor(x => MilestoneViewModel)
                    </form>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="editTask-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskTitle">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        var TaskViewModel = new TaskViewModel()
                        {
                            ProjectId = Model.Id,
                            ProjectInformation = Model
                        };
                    }
                    <form asp-action="CreateOrUpdate" asp-controller="Task" class="ajaxSubmit" method="post" data-refresh=".taskList">
                        @*@Html.HiddenFor(x => x.Id)*@
                        @Html.EditorFor(x => TaskViewModel)
                    </form>
                </div>

            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="true">
                Overview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="milestone-tab" data-toggle="tab" href="#milestone" role="tab" aria-controls="milestone" aria-selected="false">
                Milestone
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="task-tab" data-toggle="tab" href="#task" role="tab" aria-controls="task" aria-selected="false">
                Task
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="project-tab">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Milestone</h5>

                        <div class="milestoneList" data-url="@Url.Action("AjaxMilestoneList","MileStone",new { id=Model.Id})">
                            @{await Html.RenderPartialAsync("Partial/_MilestoneList", Model.Milestone);}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Active Tasks</h5>

                        @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                        <div class="taskList" data-url="@Url.Action("AjaxActiveTaskList","Task",new { id=Model.Id})">
                            @{await Html.RenderPartialAsync("Partial/_TaskList", Model.TaskInformation.Where(x => x.TaskStatus == SunbiHR.Models.Enum.TaskEnums.EnumTaskStatus.Open).AsEnumerable());}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="milestone" role="tabpanel" aria-labelledby="milestone-tab">

            @*//Project Details*@
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Milestone</h5>
                        <a class="btn btn-success text-white" data-toggle="modal" data-target="#editMilestone">Add Milestone</a>

                        <div class="milestoneList" data-url="@Url.Action("AjaxMilestoneList","MileStone",new { id=Model.Id})">
                            @{await Html.RenderPartialAsync("Partial/_MilestoneList", Model.Milestone);}
                        </div>

                    </div>
                </div>
            </div>
            @*//add milestone
                //view and edit or add task related to milestone*@

        </div>
        <div class="tab-pane fade" id="task" role="tabpanel" aria-labelledby="task-tab">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Tasks</h5>
                        <a class="btn btn-success text-white" data-toggle="modal" data-target="#editTask">Add Task</a>
                        <div class="taskList" data-url="@Url.Action("AjaxTaskList","Task",new { id=Model.Id})">
                            @{await Html.RenderPartialAsync("Partial/_TaskList", Model.TaskInformation);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}