﻿@model IEnumerable<SunbiHR.Models.Entity.ProjectInfo.ProjectInformation>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <p class="float-right">
        <a asp-action="Create">+ Add an Project</a>
    </p>

</section>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Projects</h5>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.Title</h5>
                            <p class="card-text text-center">@item.Description</p>
                            @if (item.EmployeeProjects != null && item.EmployeeProjects.Any())
                            {
                                <div>
                                    <div class="text-center">
                                        <label class="font-weight-bold"> Employees</label>
                                    </div>
                                    @foreach (var EmployeeProjects in item.EmployeeProjects)
                                    {
                                        <div class="">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p><img class=" img-fluid card-img p-1" src="~/Images/usr.png" alt="card image"></p>
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="card-title">
                                                            <a asp-action="Details" asp-controller="Employee" asp-route-id="@EmployeeProjects.EmployeeInformation.Id">@EmployeeProjects.EmployeeInformation.Fullname</a>
                                                        </div>
                                                        <p class="card-text">@EmployeeProjects.EmployeeInformation.Position</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        //<span class="badge badge-success">@EmployeeProjects.EmployeeInformation.Fullname</span>
                                    }
                                </div>
                            }
                            <br />
                            <div class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}