﻿@model SunbiHR.ViewModel.EmployeeLeaveRequestViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" readonly />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

</div>*@
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveFrom" class="control-label"></label>
            <input asp-for="LeaveFrom" class="form-control datepicker" readonly />
            <span asp-validation-for="LeaveFrom" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveTo" class="control-label"></label>
            <input asp-for="LeaveTo" class="form-control datepicker" />
            <span asp-validation-for="LeaveTo" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="NoOfDays" />
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeavePeriod" class="control-label"></label>
            <select asp-for="LeavePeriod" asp-items="ViewBag.LeavePeriod" class="form-control search-select">
                <option value="">Select Leave Period</option>
            </select>
            <span asp-validation-for="LeavePeriod" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LeaveType" class="control-label"></label>
            <select asp-for="LeaveType" asp-items="ViewBag.LeaveType" class="form-control search-select">
                <option value="">Select Leave Type</option>
            </select>
            <span asp-validation-for="LeaveType" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="7"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary float-right" />
</div>


