﻿@model SunbiHR.Models.Entity.Region
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    </div>
</div>



